<!-- _product.html -->
<div class="product" data-stock-status="{{ product.stock_status }}">
    <img src="{{ product.image_url }}" alt="{{ product.title }}">
	
    <h3><a href="{{ url_for('product_detail', asin=product.asin) }}">{{ product.title }}</a></h3>
    <p><strong>Price:</strong> ${{ product.price }}</p>
    <p><strong>Last Price Change:</strong> ${{ product.last_pricechange }}</p>
    <p><strong>Stars:</strong> {{ product.stars }} ★</p>
    <p><strong>Status:</strong> 
        {% if product.stock_status == 'In Stock' %}
            <span>In Stock</span>
        {% else %}
            <span>Out of Stock</span>
        {% endif %}
    </p>
    <div class="product-button-container">
        <a href="{{ product.product_link }}" target="_blank">View on Amazon</a>
    </div>
</div>
