{% extends 'base.html' %} {% block content %}
<h1>Top 100 Price Changes</h1>

<div class="product-grid" id="product-grid">
  {% for product in products %} {% include '_product.html' %} {% endfor %}
</div>

<!-- Loading Spinner -->
<div id="loading" style="display: none">
  <p>Loading more products...</p>
</div>

<!-- Scroll to Top Button -->
<button class="scroll-top-btn" id="scrollTopBtn">▲ Go to Top</button>

{% endblock %} {% block scripts %}
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const urlTemplate = "/top_price_changes?page={page}&in_stock={in_stock}";

    // Attach infinite scroll and in-stock toggle functionality
    attachInfiniteScroll(() => loadMoreProducts(urlTemplate));
    toggleInStock(urlTemplate); // Set up in-stock toggle
  });
</script>
{% endblock %}
